<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to airbnb-clone.clone, <%= @user.first_name %></h1>
<p>
  You have successfully signed up to example.com,
  your username is: <%= @user.first_name %>.<br>
</p>
<p>
  To login to the site, click this link to activate your account: <%= user_confirmation_url(@resource, :confirmation_token => @token) %>.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>
